
{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block content %}

<h1>Welcome to Phase 2</h1>
<h2>Rules of the Game</h2>

    <ul>
        <li>Read this quickly. DO NOT let this page time out, as doing so can result in you and your partner getting stuck in a wait page. Press Next before the timer runs out</li>
        <li>PLEASE NOTE: Failure to answer two questions in a row within the time limit will result in you being automatically kicked from the study.
        <li> The second phase of the trivia game is about to begin. You will now be asked to answer {{Constants.PHASE_2_LENGTH}} additional trivia questions. As in Phase 1, these questions are worth ${{Constants.BONUS_VALUE_ONE}} each, but they will be harder than the first round.</li>
        <li> Please make sure you are registering your confidence in each answer as accurately as possible.</li>
        <li> Please also note that if you fail to answer too many questions in the required time limit you will automatically be removed from the study. Therefore, please make sure to answer quickly to prevent your partner from waiting.</li>
    </ul>

<br>
<br>

<button name="phase2_start" class="btn btn-lg btn-block btn-info">Let's Play!</button>

{% chat %}

{% endblock %}


{% block styles %}
<style>
    h1, h2 {
        text-align: center
    }
</style>
{% endblock %}
