{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
ou Have Been Removed From The Study
{% endblock %}

{% block content %}


    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>You Have Been Removed From The Study</strong></p>
            <p>
                It appears that you have abandoned the study. As indicated on the consent form, this study
                requires your active participation since there are other participants in the study that depend
                on your involvement. Because you went two full rounds without any submitting an answer, our system has automatically removed you from the study. 

                If you believe this automated message was in error, or if you were having technical difficulties and/or other extentuating circumstances, please contact me at defilippis@gmail.com, so we can find a solution. 
            </p>
        </div>
    </div>




{% endblock %}

