{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Thank you!  Your confirmation code is AJFHBG897
{% endblock %}

{% block content %}



    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>Next Steps</strong></p>
            <p>It appears that your partner has abandoned you!  We sincerely apologize for the inconvenience, and are allowing you to leave the game without penalty.  Please use the following confirmation code to receive payment: AJFHBG897.  Please email defilippis@gmail.com if there are any issues with payment.  </p>
        </div>
    </div>

  


{% endblock %}

