
{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
        Question {{ player.round_number }} of {{ Constants.num_rounds }}: Private Answer

{% endblock %}


{% block content %}



<div class="alert alert-success">You must first answer the question without the assistance of your partner.  Please register your private answers now. </div>

<b><div class="topcorner">Your Group Score: {{total_score}} = {{total_payout}} bonus payout</div></b>


<div style="display: inline-block">
<b>What do you personally think the answer is?</b>

  {% formfield player.submitted_answer_private label=question_content %}
  {% formfield player.confidence_private_2 %}
  
{#{% formfield player.importance label="How much do you care about what the answer to this question actually is?" %}#}
</div>
 
<br>
    <button name="blur_button" value=counter onclick="get_value()" class="btn btn-primary btn-large">Next</button>
    <input type="hidden" name="blur_quantity" value=counter id="id_blur_quantity"/>



{% endblock %}





{% block scripts %}
    <script>
    
        var counter  = 0;
        var finalText = "";

        //TO DO: add progress bar

       // Tracks window blurs
       $( document ).ready(function() {
          function onchange (evt) {
            counter++;
          }

          window.onblur = onchange;

        });  

        function get_value() {
            //gets the hidden value blur_quantity and sets its value
            document.getElementById('id_blur_quantity').value = counter;
            console.log("final blur value is ", counter);
            
            //gets content of chat messages
            $(".otree-chat__msg").each(function(){
                	var username = $(this).find('.otree-chat__nickname').text();
                	//console.log(username);
                
                	var body = $(this).find('.otree-chat__body').text();
                	//console.log(body);
                	finalText = finalText.concat(username, ": ", body, "\r\n");
            });

            console.log(finalText);
            if (finalText.length > 0){
                    
                document.getElementById('id_chat_question').value = finalText;
                console.log("chat transcript is blank")
                    
            }
            else{
                    document.getElementById('id_chat_question').value = "No Chat";
                    console.log("Final text is", finalText)
            }
            

            return true;
        }

  
        $(function () {
            $('#mymodal').modal('show');
        })

        $('input[type=range]').addClass('myclass');

  

</script>
{% endblock %}

{% block styles %}


{% endblock %}

