{% extends 'otree/WaitPage.html' %}
{% load otree %}
{% block title %} Please wait on your partner {{ title_text }}{% endblock %}
{% block content %}
    {{ body_text }}
    <p>
        Please wait while your partner submits their answer. Feel free to chat in the meantime. If you see this wait page for more than 5 minutes, please contact the project manager at defilippis@gmail.com. It is likely that your partner has exited the experiment. In the meantime, feel free to chat with your partner while they complete the previous page.
    </p>
{% endblock %}


<h2> Chat with Partner </h2>
    {% chat %}
