{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Thank you!  The completion code is: AJFHBG897
{% endblock %}

{% block content %}


    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>Next Steps</strong></p>
            <p>The experiment is over!  You should receive your automatic participation fee in a few hours.  You must enter the following completion code to be compensated: AJFHBG897</p>
        </div>
    </div>

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p>I will go through each session to manually determining the total amount of bonus money to award due to wait times and total accumulated in-game points.  This may take me a while, but payment should be received within a week!
            If you have any questions, please don't hesitate to contact me at defilippis@gmail.com.
            </p>
        </div>
    </div>
    


{% endblock %}

