{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Thank you!  The completion code is: DROPOUT2
{% endblock %}

{% block content %}


    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>Next Steps</strong></p>
            <p>The experiment is over! Unfortunately, you were not able to be paired with another participant in the time alloted. Please email me at defilippis@gmail.com with the following code: DROPOUT2. I will create a compensation HIT for $2.00 to compensate you for your time.

                If you are seeing this message, either an odd number of participants showed up (and you were unfortunately the only unpaired participant), or you arrived to this HIT late, after everybody had already been paired up. If you arrived to this study more than 20 minutes late, you will not be eligible for payment.
        </div>
    </div>


    


{% endblock %}

